{% extends "mediasnakecomics/base.html" %}

{% block title %}{{ comic.title }}xx [{{ comic.path }}]{% endblock %}

{% block content %}
<div class='comic'>
  <ul class="media-list">
    {% for idx in pages %}
    <li class="media">
      <a class="pull-left" href="#{{ forloop.counter }}">
	<img id="{{ forloop.counter0 }}" class="comic-image" src="holder.js/600x900" data-src="./{{ idx }}/" 
             onclick="setBookmark({{ forloop.counter }})">
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}mediasnake/js/django-ajax.js?version={{ MEDIASNAKE_VERSION }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}holder/js/holder.js?version=2.3.2"></script>
<script type="text/javascript" src="{{ STATIC_URL }}unveil/js/jquery.unveil.min.js?version=1.1.0"></script>
<script>
var setBookmark = function (page) {
  $.post("./bookmark/", { "page": page });
  return true;
}

$(document).ready(function () {
    Holder.run()
    location.href = "#{{ active_page }}";
    $('.comic-image').unveil();
})
</script>
{% endblock %}
