{% extends "mediasnakebooks/base.html" %}

{% block title %}{{ ebook.title }} [{{ ebook.author }}]{% endblock %}

{% block content %}
<div id="modal-word" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="modal-word-header" class="modal-header"></h3>
    <input type="hidden" id="modal-word-word"></input>
    <input type="hidden" id="modal-word-context"></input>
  </div>
  <div id="modal-word-body" class="modal-body">
    <div class="controls">
      <div id="modal-word-known-group" class="btn-group" data-toggle="buttons-radio">
	<button class="btn btn-known-5 modal-word-known" value="5" id="modal-word-known-5">[Unk]</button>
	<button class="btn btn-known-4 modal-word-known" value="4" id="modal-word-known-4">[4]</button>
	<button class="btn btn-known-3 modal-word-known" value="3" id="modal-word-known-3">[3]</button>
	<button class="btn btn-known-2 modal-word-known" value="2" id="modal-word-known-2">[2]</button>
	<button class="btn btn-known-1 modal-word-known" value="1" id="modal-word-known-1">[1]</button>
	<button class="btn btn-known-0 modal-word-known" value="0" id="modal-word-known-0">[Ign]</button>
      </div>
      <div class="pull-right">
	<a href="#" class="btn btn" data-dismiss="modal">Close</a>
	<a class="btn btn-primary" onclick="study.adjust();">Save</a>
      </div>
    </div>
    <div class="controls clear">
      <span>
	<label class="pull-left">Notes:</label>
	<textarea id="modal-word-notes" rows="1" cols="50"></textarea>
      </span>
    </div>
    <div>
      <a id="modal-word-external-dict" class="btn btn-link pull-right" target="_blank" href="#">External dictionary</a>
    </div>
    <pre id="modal-word-dict"></pre>
  </div>
</div>
<div class='ebook'>
  <div class='controls'>
    {% if prev >= 0 %}
    <a class="btn" href="{% url 'ebook-chapter' ebook.id prev %}">Prev</a>
    {% endif %}
    <select id="chapter-select">
      <option value="" selected>Jump to chapter</option>
      {% for chapter in chapters %}
      <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == chapter %}selected{% endif %}>{{ forloop.counter }}</option>
      {% endfor %}
    </select>
    <select id="language-select">
      <option class="study-lang" value="" selected>Choose study language</option>
      {% for lang in languages %}
      <option class="study-lang" 
              value="{{ lang.code }}" 
              data-token-url="{% url 'ebook-ajax-tokens' ebook.id chapter lang.code %}"
              data-dict-url="{% url 'ebook-ajax-dict' lang.code '@WORD@' %}"
              data-external-dict-url="{{ lang.dict_url }}"
              data-word-url="{% url 'ebook-ajax-word' lang.code '@WORD@' %}"
              data-words-url="{% url 'ebook-ajax-words' lang.code %}"
              data-words-export-url="{% url 'ebook-ajax-words-export' lang.code %}"
	      >{{ lang.code }}</option>
      {% endfor %}
    </select>
    <a class="btn btn-link hide" id="download-words" href="#">Download words</a>
    {% if next %}
    <a class="btn pull-right" href="{% url 'ebook-chapter' ebook.id next %}">Next</a>
    {% endif %}
  </div>
  <div class="ebook-text" id="ebook-text">
    {% for p in paragraphs %}
    <p data-line="{{ forloop.counter0 }}">{{ p }}</p>
    {% endfor %}
  </div>
  <div class='controls'>
    {% if prev %}
    <a class="btn" href="{% url 'ebook-chapter' ebook.id prev %}">Prev</a>
    {% endif %}
    {% if next %}
    <a class="btn pull-right" href="{% url 'ebook-chapter' ebook.id next %}">Next</a>
    {% endif %}
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}mediasnakebooks/js/django-ajax.js?version={{ MEDIASNAKE_VERSION }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mediasnakebooks/js/study.js?version={{ MEDIASNAKE_VERSION }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mediasnakebooks/js/bookmark.js?version={{ MEDIASNAKE_VERSION }}"></script>
<script>
$("#language-select").change(function() {
    var lang = "";
    var token_url = "";
    var dict_url = "";
    var external_dict_url = "";
    var word_url = "";
    var words_export_url = "";
    $("#language-select option:selected").each(function () {
        lang = $(this).attr("value");
        token_url = $(this).attr("data-token-url");
        dict_url = $(this).attr("data-dict-url");
        external_dict_url = $(this).attr("data-external-dict-url");
        word_url = $(this).attr("data-word-url");
        words_url = $(this).attr("data-words-url");
        words_export_url = $(this).attr("data-words-export-url");
    });
    study.init(lang, token_url, dict_url, external_dict_url, word_url, words_url);

    if (lang) {
        $("#download-words").attr("href", words_export_url);
        $("#download-words").removeClass("hide");
    }
    else {
        $("#download-words").attr("href", "#");
        $("#download-words").addClass("hide");
    }
});

$("#chapter-select").change(function() {
    var dest = "";
    $("#chapter-select option:selected").each(function () {
        dest = $(this).attr("value");
    });
    if (dest != "") {
        window.location = "{% url 'ebook-chapter' ebook.id '@VALUE@' %}".replace("@VALUE@", dest);
    }
});

$(document).ready(function() {
    bookmark.init("{% url 'ebook-ajax-bookmark' ebook.id chapter %}");
});
</script>
{% endblock %}
