{% extends "mediasnakebooks/base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<h1>Recently read</h1>
<table class="booklist">
  {% for r in recent %}
  <tr>
    <td><a href="{% url 'ebook-start' r.ebook.id %}">{{ r.ebook.title }}</a></td>
    <td>{{ r.ebook.author }}</td>
  </tr>
  {% endfor %}
</table>
<a class="btn btn-link" href="{% url 'ebook-recent' %}">More...</a>

<h1>Books</h1>
<div class="controls">
  {% if books.has_previous %}
  <a class="btn" href="?{{ search_str_query }}page={{ books.previous_page_number }}">Prev</a>
  {% endif %}
  
  <select id="page-select">
    {% for page in pages %}
    <option value="{{ page }}" {% if page == books.number %}selected{% endif %}>Page {{ page }}</option>
    {% endfor %}
  </select>
  
  {% if books.has_next %}
  <a class="btn" href="?{{ search_str_query }}page={{ books.next_page_number }}">Next</a>
  {% endif %}

  <span class="search">
    <form action="" method="GET">
      <input class="text" type="text" name="search" value="{{ search_str }}">
      <input type="hidden" name="page" value="{{ books.number }}">
      <input class="btn" type="Submit" value="Search">
    </form>
  </span>
</div>

<table class="booklist">
  {% for book in books %}
  <tr>
    <td><a href="{% url 'ebook-start' book.id %}">{{ book.title }}</a></td>
    <td>{{ book.author }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}


{% block extra_js %}
<script>
$("#page-select").change(function() {
    var dest = "";
    $("#page-select option:selected").each(function () {
        dest = $(this).attr("value");
    });
    if (dest != "") {
        window.location = "?{{ search_str_query }}page=" + dest;
    }
});
</script>
{% endblock %}
