{% extends "mediasnakebooks/base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page={{ books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ books.number }} of {{ books.paginator.num_pages }}.
        </span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
  {% for book in books %}
  <tr>
    <td><a href="{% url 'ebook-pos' book.id 0 %}">{{ book.title }}</a></td>
    <td>{{ book.author }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
