{% extends "base.html" %}

{% block title %}Files{% endblock %}

{% block content %}
<h1>Files</h1>

<div class="accordion" id="video-list">
  {% for video_group in video_groups %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" 
         data-toggle="collapse" data-parent="video-list" 
         href="#video-group-{{ forloop.counter }}">{{ video_group.name }}</a>
    </div>
    <div id="video-group-{{ forloop.counter }}" class="accordion-body collapse">
      <div class="accordion-inner">
	<ul class="media-list">
	{% for video_file in video_group.video_files %}
	<li class="media">
	  <a class="pull-left" href="#">
            {# The image is loaded by Javascript (see below) when the accordion is expanded. #}
	    <img width=190 class="media-object not-loaded"
                 src="{{ STATIC_URL }}mediasnake/img/grey.gif"
                 data-original="{% url 'thumbnail' video_file.id %}">
	  </a>
	  <div class="media-body">
	    <h4>{{ video_file.title }}</h4>
	    <div style="color: #aaaaaa; font-size: 75%;">{{ video_file.relative_dirname }} / {{ video_file.basename }}</div>
	    <a style="margin-top: 1em;" href="{% url 'stream' video_file.id %}" class="btn btn-inverse">Stream</a>
	  </div>
	  {% endfor %}
	</li>
	</ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script>

{# Delayed image loading #}

$('.accordion-body').on('show', function () {
    $(this).find('img.not-loaded').attr('src', function() {
        $(this).removeClass('not-loaded');
        return $(this).attr('data-original');
    });
})
</script>
{% endblock %}
