{% extends "base.html" %}

{% block title %}Files{% endblock %}

{% block content %}
<h1>Files</h1>

<ul class="media-list">
  {% for video_file in video_files %}
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="{% url 'thumbnail' video_file.id %}">
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{ video_file.basename }}</h4>
      <a href="{% url 'stream' video_file.id %}" class="btn btn-inverse">Stream</a>
    </div>
    {% endfor %}
  </li>
  {% endblock %}
</ul>
