{% extends "base.html" %}

{% block title %}{{ video_file.title }}{% endblock %}

{% block content %}
<h1>{{ video_file.title }}</h1>

<p>
  <a href="{{ ticket.url }}" type="{{ video_file.mimetype }}" class="btn btn-inverted">Direct link</a> (valid for 3 hours)
</p>

<p>
  <video width="640" controls>
    <source src="{{ ticket.url }}" type="{{ video_file.mimetype }}">
    <p>This video format is unfortunately not supported by your browser. You need to use the direct link instead. Sorry!</p>
  </video>
</p>
{% endblock %}
