<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css?version=2.3.2" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css?version=2.3.2" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}mediasnake/css/base.css?version={{ MEDIASNAKE_VERSION }}" rel="stylesheet">

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery.min.js?version=2.0.3"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js?version=2.3.2"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
