div.ebook {
    max-width: 40em;
    margin-left: 20px;
}

div.ebook-text {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.controls {
    line-height: 30px;
}

div.controls select {
    margin-top: 10px;
}

div.controls input.text {
    margin-top: 10px;
}

div.controls .search {
    margin-left: 30px;
}

div.controls .search form {
    display: inline;
}

div.controls a.pull-right {
    margin-top: 10px;
}

#modal-word h3 {
    font-weight: normal;
}

#modal-word div.controls {
    margin: 5px;
}

#modal-word .btn-known-5 {
    background-image: linear-gradient(to bottom, rgb(208, 204, 251), rgb(188, 184, 231));
}

#modal-word .btn-known-4 {
    background-image: linear-gradient(to bottom, rgb(251, 203, 240), rgb(231, 183, 220));
}

#modal-word .btn-known-3 {
    background-image: linear-gradient(to bottom, rgb(251, 203, 210), rgb(231, 183, 190));
}

#modal-word .btn-known-2 {
    background-image: linear-gradient(to bottom, rgb(251, 233, 203), rgb(231, 213, 183));
}

#modal-word .btn-known-1 {
    background-image: linear-gradient(to bottom, rgb(207, 251, 203), rgb(187, 231, 183));
}

#modal-word .btn-known-0 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
}

#modal-word .btn.active {
    font-weight: bold;
}

#ebook-text span.known-5 {
    background-color: rgb(208, 204, 251);
}

#ebook-text span.known-4 {
    background-color: rgb(251, 203, 240);
}

#ebook-text span.known-3 {
    background-color: rgb(251, 203, 210);
}

#ebook-text span.known-2 {
    background-color: rgb(251, 233, 203);
}

#ebook-text span.known-1 {
    background-color: rgb(207, 251, 203);
}

#ebook-text span.known-0 {
    background-color: rgb(255, 255, 255);
}

.big-text {
    font-size: 24px;
    line-height: 32px;
}

table.booklist td {
    padding: 4px 12px;
}
