{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}

<div class="container">
  <form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Change password</h2>
    <label>
      {{ form.old_password.label_tag }}
      {{ form.old_password }}
    </label>
    <label>
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
    </label>
    <label>
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
    </label>
    <button class="btn btn-large btn-primary" type="submit">Change password</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
